body {
    margin: 0%;
 }
 
 .header {
    display: block;
    background-color: black;
    padding: 0.5vh;
    color: white;
    text-align: center;
    border-bottom: 2vh solid grey;
    font-size: 3vh;
    width: 98.7;
    overflow: hidden;
 }
 
 .header .anony {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
 }
 
 .header .notes {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
 }
 
 .container {
    display: flex;
    flex-direction: column;
 }
 
 .img1 img {
    margin-left: 11vw;
    margin-right: auto;
    max-width: 85%;
 }
 
 .buttons {
    margin-top: 20px;
    text-align: center;
    margin-left: 1.8vw;
 }
 
 .buttons button:hover{
    cursor: pointer;
 }
 
 .buttons .writeButton{
    box-shadow: 5px 5px rgb(202, 202, 202);
    display: block;
    text-decoration: none;
    padding: 5px 100px 5px 100px;
    background-color: black;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
    font-size: medium;
    font-size: 4vh;
    border-radius: 10px;
    margin-bottom: 10px; /* Add margin between buttons */
    transition: 700ms;
 }
 
 .buttons .writeButton:hover{
    background-color: grey;
    border-color: grey;
 }
 
 .buttons .browseNotes {
    display: block;
    text-decoration: none;
    padding: 5px 95px 5px 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
    font-size: medium;
    font-size: 4vh;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px; /* Add margin between buttons */
    transition: 700ms;
 }
 
 .buttons .browseNotes:hover {
    background-color: grey;
    border-color: grey;
    color: white;
    box-shadow: 5px 5px rgb(202, 202, 202);
 }
 a {
    text-decoration: none;
 }
 
 footer {
    bottom: 0;
    width: 98.7;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
 }
 
 .logo {
    padding-bottom: 9px;
 }
 .logo .anony {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
    font-size: large;
 }
 
 .logo .notes {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
 }
 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center; /* Align the list items center */
 }
 
 li {
    display: inline-block; /* Display list items horizontally */
 }
 
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: smaller;
 }
 
 li a:hover {
    background-color: #111;
 }
 
 @media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
    }
 
    .img1 img {
        max-width: 50%;
    }
 
    .buttons {
        margin-left: 20px;
    }
 }
 
 @media screen and (max-width: 768px) {
    .buttons .writeButton,
    .buttons .browseNotes{
        display: block;
        margin: 10px auto; /* Center the buttons */
    }
 }
 
 @media screen and (max-width: 360px) {
    .footer {
        margin-right: 0;
    }
 }